/* styling for the contact page */
.contact {
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: #d1d9eb;
  justify-content: center;
  margin: 165px auto auto auto;
  border: #b2c3eb solid 5px;
  border-radius: 20px;
  z-index: 2;
  font-size: 23px;
}