/* variables are used for efficiency, only have to change values in once central place */
/* has to be imported first so other files can see it */
/* basic css reset for the page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #eddfd8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

/* styling for the navigation bar */
nav {
  width: 100%;
  height: 110px;
  top: 0;
  /* hard set to position the nav bar at the top no matter what */
  position: fixed;
  display: flex;
  align-items: center;
  background-color: #eddfd8;
  border-bottom: 5px solid #ebd0c3;
  z-index: 5;
}
nav h1 {
  width: 40%;
  height: 100%;
  font-size: 50px;
  padding: 35px 30px 30px 70px;
}
nav .links {
  width: 60%;
  line-height: 40px;
  font-size: 30px;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* adds space between links vertically */
  align-items: center;
  /* centers the text links */
  height: 100%;
}
nav .links a {
  text-decoration: none;
}
nav a.current {
  height: 125px;
  width: 175px;
  background-color: #d1d9eb;
  border-bottom: 5px solid #b2c3eb;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .dropdown {
  display: none;
}

@media only screen and (max-width: 980px) {
  nav h1 {
    width: 90%;
    font-size: 30px;
    padding: 30px;
  }
  nav .links {
    display: none;
    width: 10%;
  }
  nav a.current {
    height: 50px;
  }
  nav .dropdown {
    float: right;
    text-align: right;
    position: relative;
    display: inline-block;
    border-top: 5px solid #b2c3eb;
    border-bottom: 5px solid #b2c3eb;
    border-left: 5px solid #b2c3eb;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }
  nav .dropdown .dropbtn {
    background-color: #d1d9eb;
    padding: 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  nav .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0;
    z-index: 1;
  }
  nav .dropdown .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  nav .dropdown .show {
    display: block;
  }
}
/* styling for the home page */
.home {
  width: 100%;
  margin: 165px auto auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.home h1 {
  width: 60%;
  font-size: 40px;
  line-height: 2;
  color: #965f60;
  margin: auto;
}
.home .hero {
  width: 100%;
  height: 600px;
  margin: 100px 0;
  background-image: url(../images/AdobeStock_386832865.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.home h2 {
  font-size: 35px;
}
.home img {
  width: 60%;
  height: auto;
  margin: auto;
}
.home .banner {
  padding: 45px;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  font-size: 20px;
}
.home .banner img {
  width: 300px;
  height: 275px;
  image-orientation: center;
}

/* styling for the about/bio page */
.bio {
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: #d1d9eb;
  justify-content: center;
  margin: 165px auto auto auto;
  border: #b2c3eb solid 5px;
  border-radius: 20px;
  font-size: 23px;
}
.bio .top {
  display: flex;
  flex-direction: row;
  padding: 50px 50px 20px 50px;
}
.bio .top .left1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 100px;
  margin: auto;
}
.bio .top .right1 {
  width: 50%;
  text-align: center;
}
.bio .top .right1 img {
  max-width: 60%;
  height: auto;
  padding-top: 80px;
}
.bio hr {
  border-top: 5px solid #b2c3eb;
  border-radius: 30px;
  border-left: none;
  border-bottom: none;
  width: 90%;
  margin: auto auto 50px auto;
}
.bio .details {
  width: 80%;
  margin: auto;
}
.bio .details table {
  border-spacing: 15px 50px;
}
.bio .details td {
  width: 70%;
}
.bio .details th {
  width: 30%;
  text-align: left;
}
.bio .bottom {
  width: 80%;
  margin: auto;
  padding-top: 50px;
  height: auto;
}
.bio .bottom .level {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
}
.bio .bottom .level h4 {
  width: 30%;
}
.bio .bottom .level p {
  width: 70%;
  text-align: left;
}

@media only screen and (max-width: 980px) {
  .bio {
    font-size: 16px;
  }
  .bio .top {
    padding: 20px;
    padding-top: 50px;
    flex-direction: column;
  }
  .bio .top .left1 {
    padding: 0;
    width: 100%;
  }
  .bio .top .right1 {
    width: 100%;
  }
  .bio .top .right1 img {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .bio .bottom {
    padding-top: 15px;
  }
  .bio .bottom .level {
    flex-direction: column;
  }
  .bio .bottom .level h4 {
    width: 100%;
  }
  .bio .bottom .level p {
    width: 100%;
  }
}
/* styling for the contact page */
.contact {
  width: 80%;
  display: flex;
  background-color: #d1d9eb;
  justify-content: center;
  margin: 165px auto auto auto;
  border: #b2c3eb solid 5px;
  border-radius: 20px;
  font-size: 23px;
}
.contact .left2 {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact .left2 .icons {
  display: flex;
  flex-direction: row;
  padding: 30px;
}
.contact .left2 .icons img {
  margin: 10px;
  width: 60px;
  height: 60px;
}
.contact .right2 {
  background-color: white;
  width: 60%;
  margin: 70px;
  justify-content: center;
}
.contact .right2 h2 {
  margin: 55px;
}
.contact .right2 .inputs {
  text-align: center;
  padding: 20px;
}
.contact .right2 .inputs #fname,
.contact .right2 .inputs #lname,
.contact .right2 .inputs #email,
.contact .right2 .inputs #subject {
  width: 45%;
  padding: 20px;
  border: black solid 3px;
}
.contact .right2 .inputs #message {
  width: 92%;
  padding: 20px;
  border: black solid 3px;
}
.contact .right2 .button {
  padding: 0 55px 50px 0;
  float: right;
}
.contact .right2 .button #submit {
  background-color: black;
  border-radius: 10px;
  color: white;
  padding: 15px 25px;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 980px) {
  .contact {
    flex-direction: column;
    padding-bottom: 30px;
  }
  .contact .left2 {
    width: 85%;
    text-align: center;
    margin: 0 auto;
    padding: 50px 0 15px 0;
    font-size: 18px;
  }
  .contact .left2 .icons img {
    width: 40px;
    height: 40px;
  }
  .contact .right2 {
    width: 85%;
    margin: auto;
  }
  .contact .right2 h2 {
    margin: 0 auto;
    text-align: center;
    padding: 20px;
  }
  .contact .right2 .inputs {
    padding: 10px;
  }
  .contact .right2 .inputs #fname,
.contact .right2 .inputs #lname,
.contact .right2 .inputs #email,
.contact .right2 .inputs #subject,
.contact .right2 .inputs #message {
    width: 100%;
    padding: 10px;
  }
  .contact .right2 .button {
    float: none;
    padding: 0 0 20px 0;
  }
  .contact .right2 .button #submit {
    margin: 0 auto;
    display: block;
  }
}
/* styling for the design page */
.design {
  width: 100%;
  margin: 165px auto auto auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.design .col1 {
  width: 25%;
  display: flex;
  flex-direction: column;
  margin: 30px;
}
.design .col1 .container {
  position: relative;
  margin-top: 70px;
}
.design .col1 .container img {
  width: 100%;
  height: auto;
  margin: auto;
  display: block;
}
.design .col1 .container .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #965f60;
}
.design .col1 .container .text {
  color: white;
  font-size: 22px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  text-align: center;
}
.design .col1 .container:hover .overlay {
  opacity: 1;
}
.design .col1 button {
  padding: 0 55px 50px 0;
  background-color: black;
  border-radius: 10px;
  color: white;
  padding: 15px 25px;
  border: none;
  cursor: pointer;
}

/* styling for the footer */
footer {
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 15px;
}