/* variables are used for efficiency, only have to change values in once central place */
/* has to be imported first so other files can see it */
/* basic css reset for the page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #e5e4cc;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

/* styling for the navigation bar */
nav {
  width: 100%;
  height: 90px;
  top: 0;
  /* hard set to position the nav bar at the top no matter what */
  position: fixed;
  display: flex;
  align-items: center;
  background-color: #e5e4cc;
  border-bottom: 5px solid #d4d2aa;
  z-index: 5;
  box-shadow: 5px 0px 15px 0px rgba(0, 0, 0, 0.4);
}
nav .logo {
  margin-left: 30px;
}
nav .logo img {
  width: 60px;
  height: 70px;
}
nav h1 {
  width: 40%;
  height: 100%;
  font-size: 40px;
  padding: 30px 30px 30px 10px;
  color: #19181a;
}
nav .links {
  width: 60%;
  line-height: 40px;
  font-size: 20px;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* adds space between links vertically */
  align-items: center;
  /* centers the text links */
  height: 100%;
}
nav .links a {
  color: #19181a;
  text-decoration: none;
}
nav a.current {
  height: 95px;
  width: 175px;
  background-color: #f5f7f7;
  border-left: 5px solid #d6d6d6;
  border-right: 5px solid #d6d6d6;
  border-bottom: 5px solid #d6d6d6;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .dropdown {
  display: none;
}

@media only screen and (max-width: 980px) {
  nav {
    height: 110px;
  }
  nav h1 {
    width: 90%;
    font-size: 30px;
    padding: 30px;
  }
  nav .links {
    display: none;
    width: 10%;
  }
  nav a.current {
    background-color: #e5d8cc;
    border-bottom: 5px solid #d3c7bd;
    border-right: none;
    border-left: none;
    border-radius: 0px;
    height: 50px;
    box-shadow: none;
  }
  nav .dropdown {
    float: right;
    position: relative;
    display: inline-block;
  }
  nav .dropdown .dropbtn {
    background-color: #f5f7f7;
    padding: 30px;
    font-size: 16px;
    border-right: 1px solid #f5f7f7;
    border-top: 5px solid #d6d6d6;
    border-bottom: 5px solid #d6d6d6;
    border-left: 5px solid #d6d6d6;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    cursor: pointer;
  }
  nav .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f5f7f7;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    right: 0;
    z-index: 1;
  }
  nav .dropdown .dropdown-content a {
    color: #19181a;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  nav .dropdown .show {
    display: block;
  }
}
/* styling for the home page */
.home {
  margin: 135px auto auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 85%;
  background-color: #f5f7f7;
  border: #d6d6d6 solid 5px;
  border-radius: 20px;
}
.home .row1 {
  display: flex;
  flex-direction: row;
  padding: 75px 75px 10px 75px;
  margin: 0 auto;
  width: 100%;
}
.home .row1 .right1 {
  width: 50%;
  text-align: center;
}
.home .row1 .right1 .box {
  background-color: #e5d8cc;
  max-width: 100%;
  min-height: 400px;
  margin-left: 10px;
  margin-bottom: 50px;
  font-size: 25px;
  padding: 50px;
  text-align: left;
}
.home .row1 .right1 .box button {
  background-color: #19181a;
  font-size: 18px;
  border-radius: 10px;
  color: white;
  padding: 15px 25px;
  border: none;
  cursor: pointer;
}
.home .row1 .left1 {
  width: 50%;
  text-align: center;
}
.home .row1 .left1 img {
  max-width: 500px;
  padding: 0 30px;
}
.home img {
  width: 100%;
  max-height: 450px;
  margin: 0 auto;
  padding: 15px 0;
}
.home .row2 {
  width: 100%;
  padding: 10px 75px 75px 75px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.home .row2 figure {
  width: 450px;
  min-width: 300px;
  height: auto;
  padding: 0 10px;
  cursor: pointer;
  margin: 0 auto;
}
.home .row2 figure a {
  color: #19181a;
}
.home .row2 figure figcaption {
  font-size: 20px;
}

@media only screen and (max-width: 980px) {
  .home {
    width: 85%;
    flex-direction: column;
  }
  .home .row1 {
    flex-direction: column;
    padding: 20px 20px 10px 20px;
  }
  .home .row1 .right1 {
    width: 100%;
  }
  .home .row1 .right1 .box {
    width: 90%;
    margin: 30px auto;
    font-size: 18px;
    padding: 20px;
    min-height: 0;
  }
  .home .row1 .right1 .box button {
    font-size: 12px;
  }
  .home .row1 .left1 {
    width: 100%;
    padding: 30px;
  }
  .home .row1 .left1 .img {
    width: 90%;
    height: auto;
  }
  .home img {
    width: 90%;
    padding: 10px;
  }
  .home .row2 {
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    padding: 0 20px 20px 20px;
  }
  .home .row2 figure {
    cursor: pointer;
    margin: 0 auto;
    width: 100%;
    min-width: 90%;
    height: auto;
  }
}
/* styling for the about/bio page */
.bio {
  width: 85%;
  display: flex;
  flex-direction: column;
  background-color: #f5f7f7;
  justify-content: center;
  margin: 135px auto auto auto;
  border: #d6d6d6 solid 5px;
  border-radius: 20px;
  font-size: 20px;
}
.bio .top {
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.bio .top .left1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px 0 50px 100px;
  margin: auto;
}
.bio .top .right1 {
  display: flex;
  width: 50%;
  height: auto;
  text-align: center;
  padding: 130px 50px;
}
.bio .top .right1 img {
  display: block;
  max-height: 250px;
  border: 10px #e5d8cc solid;
  margin: 0 auto;
  max-width: 90%;
  align-items: center;
}
.bio hr {
  border-top: 5px solid #d6d6d6;
  border-radius: 30px;
  border-left: none;
  border-bottom: none;
  width: 90%;
  margin: auto auto 50px auto;
}
.bio .details {
  width: 80%;
  margin: auto;
}
.bio .details table {
  border-spacing: 15px 50px;
}
.bio .details td {
  width: 70%;
}
.bio .details th {
  width: 30%;
  text-align: left;
}
.bio .bottom {
  width: 80%;
  margin: auto;
  padding-top: 50px;
  height: auto;
}
.bio .bottom .level {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
}
.bio .bottom .level h4 {
  width: 30%;
}
.bio .bottom .level p {
  width: 70%;
  text-align: left;
}

@media only screen and (max-width: 980px) {
  .bio {
    width: 85%;
    font-size: 16px;
  }
  .bio .top {
    padding: 20px;
    padding-top: 50px;
    flex-direction: column;
  }
  .bio .top .left1 {
    padding: 0;
    width: 100%;
  }
  .bio .top .right1 {
    width: 100%;
    padding: 20px 0 20px 0;
  }
  .bio .top .right1 img {
    margin: 0 auto;
  }
  .bio .bottom {
    padding-top: 15px;
  }
  .bio .bottom .level {
    flex-direction: column;
  }
  .bio .bottom .level h4 {
    width: 100%;
  }
  .bio .bottom .level p {
    width: 100%;
  }
}
/* styling for the contact page */
.contact {
  width: 85%;
  display: flex;
  background-color: #f5f7f7;
  justify-content: center;
  margin: 135px auto auto auto;
  border: #d6d6d6 solid 5px;
  border-radius: 20px;
  font-size: 23px;
}
.contact .left2 {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-left: 40px;
  font-size: 20px;
}
.contact .left2 a {
  color: #19181a;
  cursor: pointer;
}
.contact .left2 .icons {
  display: flex;
  flex-direction: row;
  padding: 30px;
}
.contact .left2 .icons img {
  margin: 10px;
  width: 60px;
  height: 60px;
}
.contact .right2 {
  background-color: #e5d8cc;
  width: 60%;
  margin: 50px;
  justify-content: center;
}
.contact .right2 h2 {
  margin: 55px;
}
.contact .right2 .inputs {
  text-align: center;
  padding: 20px;
}
.contact .right2 .inputs #fname,
.contact .right2 .inputs #lname,
.contact .right2 .inputs #email,
.contact .right2 .inputs #subject {
  width: 45%;
  padding: 20px;
  border: #19181a solid 3px;
}
.contact .right2 .inputs #message {
  width: 92%;
  padding: 20px;
  border: #19181a solid 3px;
}
.contact .right2 .button {
  padding: 0 55px 50px 0;
  float: right;
}
.contact .right2 .button #submit {
  background-color: #19181a;
  border-radius: 10px;
  color: white;
  padding: 15px 25px;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 980px) {
  .contact {
    width: 85%;
    flex-direction: column;
    padding-bottom: 30px;
  }
  .contact .left2 {
    width: 85%;
    text-align: center;
    margin: 0 auto;
    padding: 50px 0 15px 0;
    font-size: 18px;
  }
  .contact .left2 .icons img {
    width: 40px;
    height: 40px;
  }
  .contact .right2 {
    width: 85%;
    margin: auto;
  }
  .contact .right2 h2 {
    margin: 0 auto;
    text-align: center;
    padding: 20px;
  }
  .contact .right2 .inputs {
    padding: 10px;
  }
  .contact .right2 .inputs #fname,
.contact .right2 .inputs #lname,
.contact .right2 .inputs #email,
.contact .right2 .inputs #subject,
.contact .right2 .inputs #message {
    width: 100%;
    padding: 10px;
  }
  .contact .right2 .button {
    float: none;
    padding: 0 0 20px 0;
  }
  .contact .right2 .button #submit {
    margin: 0 auto;
    display: block;
  }
}
/* styling for the design page */
.design {
  width: 100%;
  margin: 40px auto auto auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.design .col1 {
  width: 25%;
  display: flex;
  flex-direction: column;
  margin: 30px;
}
.design .col1 .container {
  position: relative;
  margin-top: 70px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
  border: #d6d6d6 solid 5px;
}
.design .col1 .container img {
  width: 100%;
  height: auto;
  margin: auto;
  display: block;
}
.design .col1 .container .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #e5d8cc;
}
.design .col1 .container .text {
  color: #19181a;
  font-size: 16px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
}
.design .col1 .container:hover .overlay {
  opacity: 1;
}
.design .col1 button {
  padding: 0 55px 50px 0;
  background-color: #19181a;
  border-radius: 10px;
  color: white;
  padding: 15px 25px;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 980px) {
  .design {
    flex-direction: column;
    margin: 125px auto auto auto;
  }
  .design .col1 {
    width: 75%;
    margin: auto;
  }
  .design .col1 .container .text {
    font-size: 12px;
  }
  .design .col1 .container .text h2 {
    font-size: 18px;
  }
}
/* styling for the footer */
footer {
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 15px;
}

/* styling for all design-work and art-work pages */
.work {
  width: 75%;
  display: flex;
  flex-direction: column;
  background-color: #f5f7f7;
  justify-content: center;
  margin: 165px auto auto auto;
  border: #d6d6d6 solid 5px;
  border-radius: 20px;
  font-size: 23px;
  text-align: center;
  padding: 100px;
}
.work .top {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 100%;
}
.work .top a {
  width: 20%;
  margin: 0 auto;
  color: #19181a;
  text-decoration: none;
  cursor: pointer;
}
.work .top h2 {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.work p {
  width: 70%;
  margin: 0 auto;
  padding: 30px;
  line-height: 35px;
}
.work .bottom {
  margin: 0 auto;
  width: 100%;
}
.work .bottom img {
  width: 60%;
  height: auto;
  margin-top: 60px;
}
.work .bottom p {
  padding: 0;
  text-align: center;
  font-size: 16px;
}
.work button {
  background-color: #19181a;
  font-size: 18px;
  border-radius: 10px;
  color: white;
  padding: 15px 25px;
  border: none;
  margin-top: 60px;
  cursor: pointer;
}

@media only screen and (max-width: 980px) {
  .work {
    width: 85%;
    padding: 10px;
    font-size: 16px;
  }
  .work .top {
    padding: 20px;
  }
  .work p {
    width: 100%;
    line-height: 25px;
  }
  .work .bottom img {
    width: 80%;
    margin-top: 40px;
  }
  .work .bottom .video {
    width: 80%;
    height: auto;
    margin: 0 auto;
  }
  .work .bottom p {
    width: 80%;
  }
  .work button {
    margin: 50px 0;
  }
}