/* styling for the about/bio page */
.bio {
  width: 90%;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  background-color: $white;
  justify-content: center;
  margin: 135px auto auto auto;
  border: $color3 solid 2px;
  border-radius: 20px;
  font-size: 20px;

  .top {
    display: flex;
    flex-direction: row;
    padding: 20px;

    .left1 {
      width: 50%;
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 50px 0 50px 100px;
      margin: auto;
    }

    .right1 {
      display: flex;
      width: 50%;
      height: auto;
      text-align: center;
      padding: 130px 50px;

      img {
        display: block;
        max-height: 250px;
        border: 8px solid $color2;
        margin: 0 auto;
        max-width: 90%;
        align-items: center;
      }
    }
  }

  hr {
    border-top: 5px solid $color2;
    border-radius: 30px;
    border-left: none;
    border-bottom: none;
    width: 90%;
    margin: auto auto 50px auto;
  }

  .details {
    width: 80%;
    margin: auto;

    table {
      border-spacing: 15px 50px;
    }

    td {
      width: 70%;
    }

    th {
      width: 30%;
      text-align: left;
    }
  }

  .bottom {
    width: 80%;
    margin: auto;
    padding-top: 50px;
    height: auto;

    .level {
      display: flex;
      flex-direction: row;
      padding-bottom: 30px;

      h4 {
        width: 30%;
      }

      p {
        width: 70%;
        text-align: left;
      }

      a {
        color: $black;
      }
    }
  }
}

@media only screen and (max-width: 980px) {
  .bio {
    width: 85%;
    font-size: 16px;

    .top {
      padding: 20px;
      padding-top: 50px;
      flex-direction: column;

      .left1 {
        padding: 0;
        width: 100%;
      }

      .right1 {
        width: 100%;
        padding: 20px 0 20px 0;

        img {
          margin: 0 auto;
        }
      }
    }

    .bottom {
      padding-top: 15px;

      .level {
        flex-direction: column;

        h4 {
          width: 100%;
        }

        p {
          width: 100%;
        }
      }
    }
  }
}
