/* styling for the contact page */
.contact {
  width: 85%;
  display: flex;
  background-color: $blue;
  justify-content: center;
  margin: 165px auto auto auto;
  border: $blue-border solid 5px;
  border-radius: 20px;
  font-size: 23px;

  .left2 {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .icons {
      display: flex;
      flex-direction: row;
      padding: 30px;

      img {
        margin: 10px;
        width: 60px;
        height: 60px;
      }
    }
  }

  .right2 {
    background-color: white;
    width: 60%;
    margin: 70px;
    justify-content: center;

    h2 {
      margin: 55px;
    }

    .inputs {
      text-align: center;
      padding: 20px;

      #fname,
      #lname,
      #email,
      #subject {
        width: 45%;
        padding: 20px;
        border: black solid 3px;
      }

      #message {
        width: 92%;
        padding: 20px;
        border: black solid 3px;
      }
    }

    .button {
      padding: 0 55px 50px 0;
      float: right;

      #submit {
        background-color: black;
        border-radius: 10px;
        color: white;
        padding: 15px 25px;
        border: none;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 980px) {
  .contact {
    flex-direction: column;
    padding-bottom: 30px;

    .left2 {
      width: 85%;
      text-align: center;
      margin: 0 auto;
      padding: 50px 0 15px 0;
      font-size: 18px;

      .icons {
        img {
          width: 40px;
          height: 40px;
        }
      }
    }

    .right2 {
      width: 85%;
      margin: auto;

      h2 {
        margin: 0 auto;
        text-align: center;
        padding: 20px;
      }

      .inputs {
        padding: 10px;

        #fname,
        #lname,
        #email,
        #subject,
        #message {
          width: 100%;
          padding: 10px;
        }
      }

      .button {
        float: none;
        padding: 0 0 20px 0;

        #submit {
          margin: 0 auto;
          display: block;
        }
      }
    }
  }
}
