/* styling for the design page and artwork page */
.design {
  width: 90%;
  max-width: 1500px;
  margin: 40px auto auto auto;
  display: flex;
  flex-direction: column;

  .dock {
    width: 100%;
    margin: 0 auto;
    padding-top: 90px;
    text-align: center;

    #selected {
      display: flex;
      flex-direction: row;
      text-align: left;
      justify-content: space-between;
      padding: 40px 0;
      width: 100%;

      img {
        box-shadow: 0px 2px 4px 0px $overlay-black;
        border: $color3 solid 2px;
        border-radius: 15px;
        width: 30%;
        height: auto;
      }

      .info {
        float: right;
        width: 60%;

        p {
          font-size: 18px;
          line-height: 25px;
        }
      }
    }
  }

  .gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .gallery-col {
      width: 30%;
      display: flex;
      flex-direction: column;
      margin: 0 40px 40px 40px;

      .container {
        position: relative;
        margin-top: 70px;
        box-shadow: 0px 2px 4px 0px $overlay-black;
        border: $color3 solid 2px;
        border-radius: 15px;

        img {
          width: 100%;
          height: auto;
          margin: auto;
          display: block;
          border-radius: 13px;
          cursor: pointer;
        }

        /* .overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: auto;
          width: 100%;
          opacity: 0;
          transition: 0.5s ease;
          background-color: $color2;
          border-radius: 13px;
        }

        .text {
          color: $black;
          font-size: 16px;
          position: relative;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          padding: 20px;
          text-align: center;
        } */
      }

      .container:hover {
        box-shadow: 0px 8px 16px 0px $overlay-black;
      }

      /* .container:hover .overlay {
        opacity: 1;
      }

      button {
        padding: 0 55px 50px 0;
        background-color: $black;
        border-radius: 10px;
        color: $white;
        padding: 15px 25px;
        border: none;
        cursor: pointer;
      } */
    }
  }
}

@media only screen and (max-width: 980px) {
  .design {
    flex-direction: column;
    margin: 70px auto auto auto;

    .dock {
      #selected {
        flex-direction: column;

        img,
        .info {
          width: 90%;
          margin: 0 auto;
        }

        .info {
          padding-top: 50px;
        }
      }
    }

    .gallery {
      flex-direction: column;

      .gallery-col {
        width: 75%;
        margin: auto;

        /* .container {
          .text {
            font-size: 12px;

            h2 {
              font-size: 18px;
            }
          }
        } */
      }
    }
  }
}
