/* styling for the navigation bar */
nav {
  width: 100%;
  height: 110px;
  top: 0; /* hard set to position the nav bar at the top no matter what */
  position: fixed;
  display: flex;
  align-items: center;
  background-color: $background;
  border-bottom: 5px solid $nav-border;
  z-index: 5;
  box-shadow: 5px 0px 15px 0px $overlay-black;

  h1 {
    width: 40%;
    height: 100%;
    font-size: 50px;
    padding: 35px 30px 30px 70px;
    color: $black;
  }

  .links {
    width: 60%;
    line-height: 40px;
    font-size: 25px;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; /* adds space between links vertically */
    align-items: center; /* centers the text links */
    height: 100%;

    a {
      color: $black;
      text-decoration: none;
    }
  }

  a.current {
    height: 115px;
    width: 175px;
    background-color: $white;
    border-left: 5px solid $gray-border;
    border-right: 5px solid $gray-border;
    border-bottom: 5px solid $gray-border;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 10px 0px $overlay-black;
  }

  .dropdown {
    display: none;
  }
}

@media only screen and (max-width: 980px) {
  //Code similar to tutorial at https://www.w3schools.com/howto/howto_js_dropdown.asp
  nav {
    h1 {
      width: 90%;
      font-size: 30px;
      padding: 30px;
    }

    .links {
      display: none;
      width: 10%;
    }

    a.current {
      background-color: $peach;
      border-bottom: 5px solid $peach-border;
      border-right: none;
      border-left: none;
      border-radius: 0px;
      height: 50px;
      box-shadow: none;
    }

    .dropdown {
      float: right;
      position: relative;
      display: inline-block;

      .dropbtn {
        box-shadow: 0px 2px 10px 0px $overlay-black;
        background-color: $white;
        padding: 30px;
        font-size: 16px;
        border-right: 1px solid $white;
        border-top: 5px solid $gray-border;
        border-bottom: 5px solid $gray-border;
        border-left: 5px solid $gray-border;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        cursor: pointer;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: $white;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px $overlay-black;
        right: 0;
        z-index: 1;
      }

      .dropdown-content a {
        color: $black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }

      .show {
        display: block;
      }
    }
  }
}
