/* styling for the navigation bar */
nav {
  width: 100%;
  height: 80px;
  top: 0; /* hard set to position the nav bar at the top no matter what */
  position: fixed;
  display: flex;
  align-items: center;
  background-color: $color1;
  z-index: 5;
  padding: 0 50px;

  .logo {
    padding-top: 5px;

    img {
      width: 50px;
      height: 60px;
    }
  }

  h1 {
    width: 40%;
    height: 100%;
    font-size: 35px;
    padding: 25px 30px 30px 10px;
    color: $black;
    font-family: Tahoma;
  }

  .links {
    width: 55%;
    line-height: 40px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* adds space between links vertically */
    align-items: center; /* centers the text links */
    height: 100%;
    letter-spacing: 1px;

    a {
      color: $black;
      text-decoration: none;
      transition: font-size 0.3s;
    }

    a:hover {
      color: $color3;
      font-size: 22px;
    }

    .resume {
      border: solid 2px $color3;
      background-color: $white;
      border-radius: 10px;
      padding: 0 10px;
    }

    .resume:hover {
      background-color: $color3;
      color: $white;
      font-size: 18px;
    }
  }

  a.current {
    color: $color3;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dropdown {
    display: none;
  }
}

@media only screen and (max-width: 980px) {
  //Code similar to tutorial at https://www.w3schools.com/howto/howto_js_dropdown.asp
  nav {
    height: 110px;
    padding: 0 0 0 30px;

    h1 {
      width: 90%;
      font-size: 25px;
      padding: 40px 30px 30px 20px;
    }

    .links {
      display: none;
      width: 10%;
    }

    a.current {
      background-color: $color2;
    }

    .dropdown {
      position: relative;
      display: inline-block;

      .dropbtn {
        background-color: $white;
        padding: 30px;
        font-size: 18px;
        letter-spacing: 1px;
        border: 3px solid $color3;
        border-right: none;
        border-radius: 10px 0 0 10px;
        color: $black;
        cursor: pointer;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: $white;
        margin-top: 10px;
        height: 100vh;
        width: 100vw;
        overflow: scroll;
        right: 0;
        z-index: 2;
      }

      .dropdown-content a {
        text-align: center;
        font-size: 18px;
        color: $black;
        padding: 30px 0;
        font-weight: 600;
        letter-spacing: 1px;
        text-decoration: none;
        display: block;
      }

      .show {
        display: block;
      }
    }
  }
}
