/* variables are used for efficiency, only have to change values in once central place */
$color1: #dceae2;
$color2: #afd3bf;
$color3: #0068bd;
$white: #f5f7f7;
/* $background: #dceae2; //#c8ded3;  #bad9ca; #bad9cf;  #e5e4cc;
$nav-border: #d4d2aa;
$gray-border: #d6d6d6;
$peach: #e5d8cc;
$peach-border: #d3c7bd; */
$overlay-black: rgba(0, 0, 0, 0.4);
$black: #19181a;

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
