/* styling for all design-work and art-work pages */
.work {
  width: 85%;
  display: flex;
  flex-direction: column;
  background-color: $blue;
  justify-content: center;
  margin: 165px auto auto auto;
  border: $blue-border solid 5px;
  border-radius: 20px;
  font-size: 23px;
  text-align: center;
  padding: 100px;

  .top {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 100%;

    a {
      width: 20%;
      margin: 0 auto;
      text-decoration: none;
      cursor: pointer;
    }

    h2 {
      width: 60%;
      margin: 0 auto;
    }
  }

  p {
    width: 60%;
    margin: 0 auto;
    padding: 30px;
    line-height: 40px;
  }

  img {
    padding: 30px;
    margin: 0 auto;
    width: 60%;
    height: auto;
  }

  button {
    background-color: black;
    font-size: 18px;
    border-radius: 10px;
    color: white;
    padding: 15px 25px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 980px) {
  .work {
    padding: 10px;
    font-size: 16px;

    .top {
      padding: 20px;
    }

    p {
      width: 100%;
      line-height: 25px;
    }

    img {
      width: 100%;
    }

    button {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }
}
